.movie-image{
    margin-top: 20px;
    margin-left: 30px;
    width: 200px;
    height: 200px;
}
.movie-name{
    margin-left: 50px;
    font-weight: 400;
    display: flex;
}
.delete-icon{
    margin-left: 10px;
}